<div class="postCont">
	<h2 class="postTitle"><%= post.title %></h2>
	<p class="postText"><%= post.text %></p>
	<% if (user?.member || user?.admin) { %>
		<div class="postAuthorWrapper">
			<div class="postAuthorCont">
				<p class="postAuthor">- <%= `${post.first_name} ${post.last_name}` %> </p>
				<% if (post.admin) { %>
					<p class="postAuth">(Admin)</p>
				<% } else if (post.member) { %>
					<p class="postAuth">(Member)</p>
				<% } %>
			</div>
			<% if (user?.admin) { %>
				<a href="/<%= post.id %>/del-post" class="delBtnCont">
					<button class="delBtn">Delete</button>
				</a>
			<% } %>
		</div>
		<p class="postDate"><%= post.added %></p>
	<% } %>
</div>